/* REGOLE GENERALI */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-family: 'Rubik', sans-serif;
  color: white;
}
body {
  padding: 50px;
  background-color: black;
  /* flex */
  display: flex;
  flex-direction: column;
}
button {
  margin-right: 20px;
  padding: 20px;
  background-color: black;
  border: 2px solid white;
  border-radius: 20px;
}
button:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: 0.5s;
}
.card {
  margin: 20px;
  padding: 20px;
  border: 3px solid;
}
/* .card:hover {
  cursor: pointer;
  transform: scale(1.025);
  transition: 0.5s;
} */
.hidden {
  opacity: 0;
  z-index: -1;
}
.visible {
  opacity: 1;
}

/* SEZIONE SUPERIORE */
body > div:nth-of-type(1) {
  text-align: center;
  margin: 20px;
  padding: 20px;
  border: 3px solid white;
}
h1 {
  font-size: 48px;
}
h2 {
  margin-bottom: 20px;
  font-size: 32px;
  color: white;
}

/* SEZIONE INFERIORE */
body > div:nth-of-type(2) {
  /* flex */
  display: flex;
}

/* SEZIONE RULES */
#rules {
  width: 50%;
  border-color: #0892D0;
  box-shadow: 0px 0px 30px 5px #0892D0;
}
#rules ul {
  list-style: none;
}

/* SEZIONE GAME */
#game {
  width: 50%;
  border-color: red;
  box-shadow: 0px 0px 30px 5px red;
}

/* SEZIONE END GAME */
#end_game {
  /* posizionamento */
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 60px;
  /* aspetto */
  transition: 2s;
  background-color: black;
  border: 3px solid red;
  box-shadow: 0px 0px 200px 100px red;
}
#message {
  text-transform: uppercase;
  color: red;
  transition: 2s;
}
#score {
  margin: 20px 0;
  text-transform: uppercase;
  color: #0892D0;
  transition: 2s;
}
